.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px auto 0 auto;
  max-width: calc(100% - 96px);
}
@media (max-width: 1020px) {
  .header {
    max-width: calc (100% - 96px);
  }
}
@media (max-width: 767px) {
  .header {
    max-width: calc(100% - 48);
  }
}
@media (max-width: 380px) {
  .header {
    max-width: calc(100% - 32px);
  }
}
