.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  max-width: 484px;
}
@media (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    width: calc(100% - 48px);
  }
}
@media (max-width: 319px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
