.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  max-width: 484px;
  padding-bottom: 26px;
}
.place__paragraph:last-of-type {
  padding-bottom: 0;
}
