.cover {
  display: flex;
  position: relative;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  width: 100%;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin: auto;
}
@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-width: 768px;
    max-height: 640px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-width: 319px;
    max-height: 480px;
    background-image: url(../../images/cover-trains-768px.jpg);
  }
}
@media (max-width: 320px) {
  .cover {
    max-width: 319px;
    min-width: auto;
    max-height: 200px;
  }
}
